
.content {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0rem;
    gap: 2rem;
}
.toptitle {
    color:var(--nav-button);
    font-size: 20px;
}

.textContent {
    width: 50%;
    margin-top: 6rem;
}

.textContent h1 {
    font-size: 3rem;
    margin: 1.5rem 0rem;
    line-height: 1.2;
}

.highlight {
    color:var(--highlight-title);
}

.textContent p {
    color:var(--description-para);
    margin-bottom: 2rem;
    line-height: 1.6;
}

.ctaButton {
    background-color:var(--nav-button);
    color: var(--text-color);
    border: none;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ctaButton:hover {
    background-color:var(--nav-button);
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
}

.statCard {
    background-color:var(--text-color);
    padding: 1.5rem;
    border-radius: 8px;
    height: 15rem;
    box-shadow: 0 2px 7px var(--box-shadow);
    text-align: center;
    transition: transform 0.3s ease;
}

.statCard:hover {
    transform: translateY(-5px);
}

.statCard h2 {
    font-size: 2rem;
    color: var(--card-text);
    margin-bottom: 0.5rem;
}

.statCard p {
    color:var(--description-para);
    font-size: 0.9rem;
    text-transform: uppercase;
}
@media screen and (min-width: 1346px) and (max-width: 2482px) {
    .textContent h1 {
        font-size: 5rem;
    }
}

@media (max-width: 600px) {
    .stats {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1000px) {
    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .textContent {
        width: 100%;
        margin-top: 3rem;
    }
  
    .textContent h1 {
        font-size: 2.75rem;
    }
    .stats {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 100%;
        margin-top: 2rem;
    }
}

@media (max-width: 480px) {
    .heroSection {
        padding: 2rem 1rem;
    }
    .textContent h1 {
        font-size: 1.75rem;
    }
    .stats {
        grid-template-columns: 1fr;
    }
}
